body {
    margin: 0 auto;
    width: 600px;
    line-height: 1.5em;

    #myModal {
        display: none;
        position: fixed;
        top: 133px;
        background-color: rgb(245, 243, 239);
        height: 500px;
        border: 5px;
        width: 600px;
        box-shadow: 30px 30px 100px;

        .modal-content {
            display: flex;
            flex-direction: column;
            padding: 5px;

            input {
                margin: 6px;
                font-size: 15px;
                padding: 15px;
            }

        }
    }

    h1 {
        font-family: 'Turret Road', cursive;
        text-align: center;
    }

    button.ajout {
        color: lightseagreen;
        display: flex;
        margin: 0 auto;
    }

    ul {
        padding: 0;

        li {
            list-style-type: none;
            font-family: 'Turret Road', cursive;
        }

        li.name {
            font-size: 25px;
        }

        li.short-desc {
            font-size: 15px;
            font-style: italic;
        }

        li.desc {
            display: none;
        }
    }

    .character {
        border: black 0.1em solid;
        padding: 15px;
        margin: 10px;
        border-radius: 15px 15px 15px 15px;
        text-align: center;
    }

    button {
        margin: 5px;
        padding: 15px;
        font-size: 20px;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 2px 2px;
        font-family: 'Montserrat Alternates', sans-serif;
    }
}